<div ng-controller="generarMundoController">

<form>
<p>Columnas</p>
<input type="text" ng-model="x" placeholder="Columnas" required autofocus>
<p>Filas</p>
<input type="text" ng-model="y" placeholder="Filas" required autofocus>
<p>Lados</p>
<input type="text" ng-model="lados" placeholder="Lados" required autofocus>
<p>Porcentaje</p>
<input type="text" ng-model="porcentaje" placeholder="porcentaje" required autofocus>
<p>Numero de enunciados</p>
<input type="text" ng-model="enunciados" placeholder="Numero de enunciados" required autofocus>
<p>Numero de subenunciados<p>
<input type="text" ng-model="subenunciados" placeholder="Numero de subenunciados" required autofocus>
<button  ng-click="generarMundo()" type="submit"> Generar</button>
</form>

<table>
<tr ng-repeat="row in res.mundo">
    <td ng-repeat="figura in row" style="float:left" >
        <div ng-if="vacio(figura)">
            <svg width="150" height="150">
 <rect width="150" height="150" style="fill:white;stroke-width:2;stroke:black;" />
            </svg>
        </div>
        <div ng-if="vacio(figura)==false">
            <svg width="150" height="150" >
                <rect width="150" height="150" style="fill:{{figura.colorC}};stroke-width:2;stroke:black;" />
                <polygon ng-attr-points="{{coord(figura.coord,150)}}"  style="fill:{{figura.colorF}};stroke-width:1" />
                <text fill="#ffffff" font-size="12" font-family="Verdana" x="75" y="75">{{figura.letra}}</text>
            </svg>
        </div>
    </td>
</tr>
</table>


<div ng-repeat="pregunta in res.preguntas">
    <p> {{pregunta.string}}{{$index}}</p>
<button ng-click="checar(pregunta.id,'True')" >Verdadera</button>
<button ng-click="checar(pregunta.id,'False')" >Falsa</button>
<p>{{correcto[pregunta.id]}}<p>
</div>
</div>
